/*CUSTOM CSS FOR SITE */

#container{width:1020px;padding-top:30px;background-color:white;}
#header{
   /* border-bottom:1px solid #E7E7E7;*/
padding-bottom:5px;
padding-top:10px;
position:relative;
width:940px;
float: left;
}
#heading h3 {
color:#5B5B5B;
font-size:16px;
margin-top:11px;
}
#header, #billboard, #featured, .content, #footer {
margin:0 40px;
}
#header h1 {
font-size:36px;
font-weight:bold;
letter-spacing:-1px;
margin-bottom:6px;
height: auto;
line-height: 10px;
}
#heading {
float:left;
}
#menu {
float:right;
margin-top:5px;
clear: right;
}
#nav, #nav ul {
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}

#nav li {
float:left;
}
#menu ul li {
display:block;
float:left;margin-right:1em;
}
#menu ul li a {
color:#5B5B5B;
font-size:13px;
padding:10px 0 10px 10px;
text-decoration:none;
}
#menu ul li a:hover, #menu ul li.selected a {
color:#242424;
}

li.selected a  {color:#242424;
font-weight:bold;
}

div.content {
border-bottom:1px solid #E7E7E7;
padding:20px 0 20px;
}

#featured {
background-color:#F4F4F4;
border-bottom:1px solid #E7E7E7;
border-top:1px solid #E7E7E7;
margin:30px 0;
float: left;
}

#featured div {
float:left;
text-align:center;
}
#featured div.first, #featured div.last {
height:145px;
padding-top:25px;
width:300px;
}
#featured div.center {
border-left:1px solid #E7E7E7;
border-right:1px solid #E7E7E7;
height:145px;
padding-top:25px;
width:338px;
}
#featured div h4, #featured div h5 {
font-size:14px;
font-weight:bold;
text-align:center;
}
#featured div h5 {
font-size:12px;
font-weight:normal;
}
#footer p {
color:#5B5B5B;
margin:20px 0 0;
padding-bottom:20px;
}
body{
   /* background-image: url('../images/bg.jpg');*/
}
ul.recent_video_list{
    list-style: none;    
}

ul.recent_video_list li{
    margin:15px 0;
    float: left;
}

.video_icon{float: left;width: 128px;}
.video_desc{float: left;width:472px;}
.float_r{float: right;}

form .submitbutton{
height: 33px;
font-size: 14px;
font-weight: bold;
padding-left: 7px;
padding-right: 7px;
border: 1px solid #9EB7CD;
border-bottom-color: #9EB7CD;
border-top-color: #C4D1DB;
border-left-color: #C4D1DB;
background-image: url('../images/buttonbg.png');
background-color: white;
background-position: left bottom;
background-repeat: repeat-x;
text-shadow: 0 1px 1px white;
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10), 0 1px 0 rgba(255, 255, 255, 0.9) inset;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10), 0 1px 0 rgba(255, 255, 255, 0.9) inset;
}

form .submitbutton:hover {
cursor: pointer;
}

form .submitbutton:hover{
-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.8) inset;
-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.15), 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}


/*CSS for SUB MENU*/
.invertedshiftdown{
padding: 0;
width: 100%;
border-top: 5px solid #D10000; /*Red color theme*/
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.invertedshiftdown ul{
margin:0;
margin-left: 40px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
float: right;
}

.invertedshiftdown li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
/**text-transform:uppercase;*/
}

.invertedshiftdown a{
float: left;
display: block;
font: bold 12px Arial;
color: black;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px 9px 10px; /*Padding within each menu item*/
background-color: white; /*Default menu color*/

/*BELOW 4 LINES add rounded bottom corners to each menu item.
  ONLY WORKS IN FIREFOX AND FUTURE CSS3 CAPABLE BROWSERS
  REMOVE IF DESIRED*/
-moz-border-radius-bottomleft: 5px;
border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-right-radius: 5px;
}

.invertedshiftdown a:hover{
background-color: #D10000; /*Red color theme*/
padding-top: 9px; /*Flip default padding-top value with padding-bottom */
padding-bottom: 5px; /*Flip default padding-bottom value with padding-top*/
color: white;
}

.invertedshiftdown .current a{ /** currently selected menu item **/
background-color: #D10000; /*Red color theme*/
padding-top: 9px; /*Flip default padding-top value with padding-bottom */
padding-bottom: 5px; /*Flip default padding-bottom value with padding-top*/
color: white;
}
/*SUB MENU CSS END HERE*/

#profile_details h4{
	background-color: #EFEFEF;
	border-bottom: 1px solid #DFDFDF;
	font-weight: bold;
	line-height: 25px;
	padding-left:2%;
	font-size: 12px; 
	float:left;
	width: 98%;
	margin: 15px 0 5px;
}

#profile_details label{
	width:150px;
	color:gray;
	font-weight: bold;
	float: left;
	clear: left;
	margin-left: 2%;
}

#profile_details div{
	padding: 3px 0;
	float: left;
	width: 100%;
}

#profile_details span{
	float: left;
	position: relative;
	width:auto;
}
.clear_b{float: left;clear: both;}
.margin_10px{float: left;margin: 10px 0;width: 100%;}
.marginl_10{margin-left: 18px;}
.floatl{float:left;}
.opaque{	
	opacity: .5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
	filter: alpha(opacity=50);
}

ul.ul_submenu_list {
float:left;
list-style:none outside none;
margin-left:0;
width:100%;
margin-top: 0;
margin-bottom:0;
}
ul.ul_submenu_list li {
display:inline;
float:left;
margin-right:1px;
position:relative;
margin-left: 0;
width:135px;

-moz-border-radius-topleft: 5px;
border-bottom-left-radius: 5px;
-moz-border-radius-topright: 5px;
border-bottom-right-radius: 5px;
}
ul.ul_submenu_list li.selected {
background-color:#EFEFEF;
background-repeat:no-repeat;
}

ul.ul_submenu_list li a {
float:left;
line-height:29px;
width: 100%;
text-align: center;
color:#333333;
text-decoration: none;
}
ul.ul_submenu_list li.selected a{
font-weight: normal;
}
.strong{font-weight: bold;}

.ui-widget-header {
background:url("../images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #000000;
border: 1px solid #E78F08;
}
.ui-widget {font-size: 12px;}